#logo a, #logo_dark a {
  display: inline-block;
  width: 78px;
}

#logo, #logo_dark {
  margin-top: 0;
}

#logo a img, #logo_dark a img {
  width: 100%;
}

.small #logo_dark {
  margin-top: 0;
}

.small #logo_dark a {
  width: 60px;
}




@media only screen and (max-width: 767px) {
  #logo a, #logo_dark a {
    display: inline-block;
    width: 59px;
  }
}


/*.team_item {
  background: #000;
  display: table-cell;
  vertical-align:middle;
  float: none;
}

.team_item img {
  vertical-align:middle;
}

.team_container {
  overflow: hidden;
}*/

.team_item {
  background-color: #000;
  padding-top: 50%;
  position: relative;
}

.img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}

@media only screen and (max-width: 1620px) and (min-width: 1200px) {
  .team_item {
    width: 50%;
    height: auto;
  }
}


.process_item {
  max-width: 800px;
  margin: 0 auto;
}

a.link {
  display: inline-block;
}

#blog_header {
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: center;
}

.other-cars {
  padding: 10px 20px;
  background-color: #323232;
  color: #f1f1f1;
}

.img-container-blog img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.img-container-blog.ratio-16-9 {
  padding-top: 56.25%;
  overflow: hidden;
}

.img-container-blog.ratio-4-3 {
  padding-top: 66.6%;
  overflow: hidden;
}

.img-container-blog.ratio-10-3 {
  padding-top: 30%;
  overflow: hidden;
}

.img-container-blog.iveco-35c15 {
  padding-top: 45%;
  overflow: hidden;
}

.img-container-blog.gcv {
  padding-top: 30%;
  overflow: hidden;
}

.img-container-blog.youtube {
  padding-top: 56.25%;
  overflow: hidden;
}

.img-container-blog iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


.img-container-blog .img-title {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px;
  background-color: #00CAE9;
  display: inline-block;
  color: #fff;
}

#iframe-wrapper {
  width: 100%;
  padding-top: 180%;
  position: relative;
}

#iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footer-iframe {
  width: 100%;
  padding-top: 150%;
  position: relative;
}

#footer-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}